<!doctype html>
<html lang="" ng-app="bDay" ng-controller="ForecastController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Weather forecast for each day">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful Day - Forecast for each day</title>

    <meta name="msapplication-tap-highlight" content="no">

    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Beautiful Day - Forecast for each day">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Beautiful Day - Forecast for each day">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <meta name="theme-color" content="#2F3BA2">

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base ng-cloak">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Beautiful Day</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-weather mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <h4 class="mdl-weather--header ng-cloak ng-hide" ng-show="!isLoading">Погода в городе</h4>
          <div class="mdl-dropdown ng-cloak ng-hide" ng-show="!isLoading">
            <h4 ng-bind="city.name"></h4>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Cities</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item" ng-repeat="loop_city in cities" ng-if="loop_city.id != city.id" ng-click="setCity(loop_city)">{{ loop_city.name }}</li>
            </ul>
          </div>
          <div class="mdl-weather--decoration ng-cloak ng-hide" ng-show="!isLoading">
            <a href="#list_view" class="mdl-layout__tab mdl-button mdl-js-button mdl-button--icon is-active">
              <i class="material-icons">view_list</i>
            </a>
            <a href="#module_view" class="mdl-layout__tab mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">view_module</i>
            </a>
          </div>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-hide="!isLoading"></div>
        <div class="mdl-layout__tab-panel is-active ng-cloak ng-hide" ng-show="!isLoading" id="list_view">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-color--light">
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add" ng-click="openModal()">
                <i class="material-icons" role="presentation">add</i>
                <span class="visuallyhidden">Add</span>
              </button>
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col" ng-bind="city.name"></h4>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone" ng-repeat-start="fcast in forecast" ng-if="fcast.city_id == city.id">
                  <div class="section__circle-container__circle mdl-color--primary mdl-badge mdl-badge--overlap" id="{{ fcast.id }}" ng-attr-data-badge="{{ fcast.isNow && 'Today' }}" ng-bind="fcast.day"></div>
                  <div class="mdl-tooltip" data-mdl-for="{{ fcast.id }}" ng-bind="fcast.date"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" ng-repeat-end ng-if="fcast.city_id == city.id">
                  <h5 ng-bind="fcast.type"></h5>
                  Температура воздуха днём: {{ fcast.t_day }}°; ночью: {{ fcast.t_night }}°
                  <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--delete" ng-click="deleteForecast(fcast)">
                    <i class="material-icons">delete</i>
                  </button>
                  <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--edit" ng-click="openModal(fcast)">
                    <i class="material-icons">edit</i>
                  </button>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="mdl-layout__tab-panel ng-cloak ng-hide" ng-show="!isLoading" id="module_view">
          <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card--square mdl-card mdl-shadow--2dp mdl-color--light" ng-repeat="fcast in forecast" ng-if="fcast.city_id == city.id" data-forecast="{{ fcast.weather_type }}">
                <div class="mdl-card__supporting-text">
                  <h1 class="mdl-badge mdl-badge--overlap" ng-attr-data-badge="{{ fcast.isNow && 'Today' }}" ng-bind="fcast.day"></h1>
                  <h3 ng-bind="fcast.type"></h3>
                  <div class="mdl-card__temperature">
                    <div>Днем: {{ fcast.t_day }}°</div>
                    <div>Ночью: {{ fcast.t_night }}°</div>
                  </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--delete" data-upgraded=",MaterialButton,MaterialRipple" ng-click="deleteForecast(fcast)">
                    Delete
                    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                    <i class="material-icons">delete</i>
                  </a>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--edit" data-upgraded=",MaterialButton,MaterialRipple" ng-click="openModal(fcast)">
                    Edit
                    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                    <i class="material-icons">edit</i>
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>

      </main>
    </div>
    <f-dialog forecast="selectedForecast" action="modalAction" weather-types="weatherTypes" cities="cities" dates="dates" ng-show="selectedForecast"></f-dialog>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.4/dialog-polyfill.min.js"></script>
    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
